/*
 * This CSS file will be loaded by Firefox if it is located at:
 *  [user-profile]/chrome/userChrome.css
 * AND this config is set in either about:config or [user-profile]/user.js
 *  user_pref("toolkit.legacyUserProfileCustomizations.stylesheets", true);
 */

/* NOTE: @imports must come before @namespace or any css */

@import url('../userLib/chrome/userChrome_base.css');
/* findbar and sidebar */

@import url('../userLib/chrome/tab-close-left.css');


@import url('../userLib/firefox-csshacks/chrome/autohide_bookmarks_and_main_toolbars.css');
/**/

/*
    <toolbox id="navigator-toolbox">
      <vbox id="titlebar">
        <toolbar id="toolbar-menubar" class="browser-toolbar ...">
        <toolbar id="TabsToolbar" class="browser-toolbar ...">
      </vbox>
      <toolbar id="nav-bar" class="browser-toolbar ...">
      <toolbar id="PersonalToolbar" class="browser-toolbar">
 */

.tabbrowser-tab {
    font-size: 13px !important;
}
.tabbrowser-tab[pinned] {
    border: 4px !important;
    min-width: calc(var(--tab-min-width) / 2);
}
/**/

/*
 * debugging
#titlebar:hover ~ .browser-toolbar {
    background-color: green !important;
}
#nav-bar:hover {
    background-color: cornsilk !important;
}
#nav-bar:hover + #PersonalToolbar {
    background-color: orange !important;
}

#PersonalToolbar {
    background-color: red !important;
}
*/
