<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.homebrew.dnscrypt-proxy</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/usr/local/etc/dnscrypt-proxy</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>./local.homebrew.dnscrypt-proxy.sh</string>
      <string>-config</string>
      <string>./dnscrypt-proxy@.toml</string>
    </array>
    <key>StandardOutPath</key>
        <string>/Library/Logs/Homebrew/dnscrypt-proxy/dnscrypt-proxy-launchd.log</string>
    <key>StandardErrorPath</key>
        <string>/Library/Logs/Homebrew/dnscrypt-proxy/dnscrypt-proxy-launchd.log</string>
  </dict>
</plist>
