<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>local.shh.miniflux</string>
		<key>LimitLoadToSessionType</key>
		<string>Background</string>
		<key>WorkingDirectory</key>
		<string>/Users/Shared/Servers/miniflux</string>
		<key>ProgramArguments</key>
		<array>
			<string>XXX</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>miniflux.log</string>
		<key>StandardOutPath</key>
		<string>miniflux.log</string>
	</dict>
</plist>
